<form
  action="/library?_csrf=<%= props.csrf %>"
  method="post"
  accept="image/*"
  class="container"
  enctype="multipart/form-data"
  x-data="imageViewer()"
>
  <h2 class="mb-4">Library</h2>

  <img
    x-show="imageUrl"
    :src="imageUrl"
    class="rounded border mb-3"
    style="width: 8rem; height: 8rem"
  />

  <div
    x-show="!imageUrl"
    class="border rounded text-center py-2 mb-3"
    style="width: 8rem"
  >
    preview...
  </div>

  <div class="col-4">
    <input
      type="file"
      name="upload_image"
      autocomplete="off"
      class="form-control mb-3"
      x-on:change="fileChosen"
    />

    <div class="alert alert-danger" x-show="error" x-text="error"></div>

    <input
      type="submit"
      value="Upload"
      class="btn btn-primary"
      :class="{'disabled': error || !imageUrl}"
    />
  </div>
</form>

<script>
  function imageViewer() {
    return {
      imageUrl: "",
      error: "",

      fileChosen(event) {
        this.fileToDataUrl(event, (src) => {
          this.imageUrl = src;
        });
      },

      fileToDataUrl(event, callback) {
        if (!event.target.files.length) return;

        let file = event.target.files[0];

        if (!file.name.match(/\.(jpg|JPG|jpeg|JPEG|webp|png|PNG|gif|GIF)$/)) {
          this.error = "Only image files are allowed";
          this.imageUrl = "";
          return;
        }

        this.error = "";
        let reader = new FileReader();

        reader.readAsDataURL(file);
        reader.onload = (e) => callback(e.target.result);
      },
    };
  }
</script>
