<div class="container py-4">
  <div class="p-5 mb-4 bg-light rounded-3">
    <h1 class="display-5 fw-bold">Tama-cms</h1>

    <% if (props.authed) { %>

    <p>Hello chad Monster</p>
    <a href="/logout">logout</a>

    <% } else { %>

    <p>Please login</p>

    <a href="/login">login</a>

    <% } %>
  </div>
</div>
